In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import locale

## Criando os dataframes

In [115]:
df_acoes = pd.read_csv('data/statusinvest-acoes.csv', delimiter=";")
df_acoes.head()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,AALR3,"22,59",NaN,"-19,70","2,33","1,04","30,55","-0,34","-12,41","-712,60",...,"0,45","0,54","0,42","3,62",NaN,"10.582.375,55","9,68","-1,15","0,04","2.668.685.928,96"
1,ABCB4,"16,92","8,26","4,78","0,73","0,07","35,76","27,56","19,63","3,40",...,"0,09","0,91","0,07","13,58","13,36","16.810.983,98","23,02","3,54","0,12","3.823.183.895,38"
2,ABEV3,"14,84","5,14","16,14","2,80","1,69","49,29","22,15","18,14","13,22",...,"0,60","0,40","0,58","10,72","14,74","466.734.715,33","5,29","0,92","1,14","233.418.213.731,82"
3,ADHM3,"1,56",NaN,"-4,09","-1,29","105,12","100,00","-13.548,48","-18.860,61","-5,69",...,"-81,72","82,72","0,14",NaN,NaN,NaN,"-1,21","-0,38","-0,58","25.439.770,20"
4,AERI3,"1,20",NaN,"-9,92","1,04","0,24","11,93","8,65","-3,76","4,31",...,"0,23","0,77","0,65",NaN,NaN,"8.531.497,88","1,15","-0,12","0,04","919.456.147,20"

In [116]:
df_acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TICKER                  601 non-null    object
 1   PRECO                   601 non-null    object
 2   DY                      352 non-null    object
 3   P/L                     600 non-null    object
 4   P/VP                    600 non-null    object
 5   P/ATIVOS                600 non-null    object
 6   MARGEM BRUTA            573 non-null    object
 7   MARGEM EBIT             573 non-null    object
 8   MARG. LIQUIDA           573 non-null    object
 9   P/EBIT                  599 non-null    object
 10  EV/EBIT                 592 non-null    object
 11  DIVIDA LIQUIDA / EBIT   542 non-null    object
 12  DIV. LIQ. / PATRI.      461 non-null    object
 13  PSR                     570 non-null    object
 14  P/CAP. GIRO             588 non-null    object
 15  P. AT CIR. LIQ.         597 non-null    object
 16  LIQ. CORRENTE           572 non-null    object
 17  ROE                     600 non-null    object
 18  ROA                     600 non-null    object
 19  ROIC                    541 non-null    object
 20  PATRIMONIO / ATIVOS     600 non-null    object
 21  PASSIVOS / ATIVOS       600 non-null    object
 22  GIRO ATIVOS             600 non-null    object
 23  CAGR RECEITAS 5 ANOS    506 non-null    object
 24  CAGR LUCROS 5 ANOS      297 non-null    object
 25   LIQUIDEZ MEDIA DIARIA  481 non-null    object
 26   VPA                    601 non-null    object
 27   LPA                    601 non-null    object
 28   PEG Ratio              593 non-null    object
 29   VALOR DE MERCADO       594 non-null    object
dtypes: object(30)
memory usage: 141.0+ KB

In [117]:
df_f11 = pd.read_csv('data/statusinvest-acoes.csv', delimiter=";")
df_f11.head()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,AALR3,"22,59",NaN,"-19,70","2,33","1,04","30,55","-0,34","-12,41","-712,60",...,"0,45","0,54","0,42","3,62",NaN,"10.582.375,55","9,68","-1,15","0,04","2.668.685.928,96"
1,ABCB4,"16,92","8,26","4,78","0,73","0,07","35,76","27,56","19,63","3,40",...,"0,09","0,91","0,07","13,58","13,36","16.810.983,98","23,02","3,54","0,12","3.823.183.895,38"
2,ABEV3,"14,84","5,14","16,14","2,80","1,69","49,29","22,15","18,14","13,22",...,"0,60","0,40","0,58","10,72","14,74","466.734.715,33","5,29","0,92","1,14","233.418.213.731,82"
3,ADHM3,"1,56",NaN,"-4,09","-1,29","105,12","100,00","-13.548,48","-18.860,61","-5,69",...,"-81,72","82,72","0,14",NaN,NaN,NaN,"-1,21","-0,38","-0,58","25.439.770,20"
4,AERI3,"1,20",NaN,"-9,92","1,04","0,24","11,93","8,65","-3,76","4,31",...,"0,23","0,77","0,65",NaN,NaN,"8.531.497,88","1,15","-0,12","0,04","919.456.147,20"

In [118]:
df_f11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TICKER                  601 non-null    object
 1   PRECO                   601 non-null    object
 2   DY                      352 non-null    object
 3   P/L                     600 non-null    object
 4   P/VP                    600 non-null    object
 5   P/ATIVOS                600 non-null    object
 6   MARGEM BRUTA            573 non-null    object
 7   MARGEM EBIT             573 non-null    object
 8   MARG. LIQUIDA           573 non-null    object
 9   P/EBIT                  599 non-null    object
 10  EV/EBIT                 592 non-null    object
 11  DIVIDA LIQUIDA / EBIT   542 non-null    object
 12  DIV. LIQ. / PATRI.      461 non-null    object
 13  PSR                     570 non-null    object
 14  P/CAP. GIRO             588 non-null    object
 15  P. AT CIR. LIQ.         597 non-null    object
 16  LIQ. CORRENTE           572 non-null    object
 17  ROE                     600 non-null    object
 18  ROA                     600 non-null    object
 19  ROIC                    541 non-null    object
 20  PATRIMONIO / ATIVOS     600 non-null    object
 21  PASSIVOS / ATIVOS       600 non-null    object
 22  GIRO ATIVOS             600 non-null    object
 23  CAGR RECEITAS 5 ANOS    506 non-null    object
 24  CAGR LUCROS 5 ANOS      297 non-null    object
 25   LIQUIDEZ MEDIA DIARIA  481 non-null    object
 26   VPA                    601 non-null    object
 27   LPA                    601 non-null    object
 28   PEG Ratio              593 non-null    object
 29   VALOR DE MERCADO       594 non-null    object
dtypes: object(30)
memory usage: 141.0+ KB

In [119]:
df_visc = pd.read_csv('data/VISC11 Historical Data.csv', delimiter=",")
df_visc.head()

         Date   Price    Open    High     Low    Vol. Change %
0  03/30/2023  101.43  100.96  101.88  100.00  22.00K    0.48%
1  03/29/2023  100.95  101.46  101.83  100.50  25.94K   -0.20%
2  03/28/2023  101.15  101.89  102.50  101.06  25.95K   -0.08%
3  03/27/2023  101.23  102.51  102.85  101.06  24.75K   -1.23%
4  03/24/2023  102.49  102.04  102.80  102.04  17.15K    0.44%

In [120]:
df_visc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      22 non-null     object
 1   Price     22 non-null     float64
 2   Open      22 non-null     float64
 3   High      22 non-null     float64
 4   Low       22 non-null     float64
 5   Vol.      22 non-null     object
 6   Change %  22 non-null     object
dtypes: float64(4), object(3)
memory usage: 1.3+ KB

## Tratamento dos dados

In [121]:
def convert_to_float(value):
    new_value = value.replace(".", "")
    new_value = new_value.replace(",", ".")
    return float(new_value) # Converte a string em um float

# Cria DataFrame teste
df_teste = pd.DataFrame({"coluna1": ["19.999,99", "10.543,21", "3.210,15"],
                         "coluna2": ["9.876,54", "12.345,67", "5.432,10"]})

# Aplica a função no DataFrame
df_teste = df_teste.apply(lambda x: x.apply(convert_to_float))
df_teste

    coluna1   coluna2
0  19999.99   9876.54
1  10543.21  12345.67
2   3210.15   5432.10

In [122]:
# import locale

def str_to_float(string):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
    try:
        string = string.replace(".", "").replace(",", ".")
        return float(string)
    except AttributeError:
        return 0

df_teste = pd.DataFrame({"coluna1": ["19.999,99", "10.543,21",0, "3.210,15"],
                         "coluna2": ["9.876,54", "12.345,67",0, "5.432,10"],
                         "coluna3": ["9.876,54", "12.345,67", None, "5.432,10"]}
                        )

df_teste = df_teste.apply(lambda x: x.apply(str_to_float))
df_teste

    coluna1   coluna2   coluna3
0  19999.99   9876.54   9876.54
1  10543.21  12345.67  12345.67
2      0.00      0.00      0.00
3   3210.15   5432.10   5432.10

In [123]:
def clean_string_k(string):
    try:
        string = string.replace("K", "")
        return float(string)
    except AttributeError:
        return 0


def clean_string_perc(string):
    try:
        string = string.replace("%", "")
        return float(string)
    except AttributeError:
        return 0

Com isso temos todas as funções necessárias para fazer o tratamento dos dados.
Agora vamos aplicar nos dataframes.

In [124]:
# Base de dados de ações
df_acoes.fillna(0, inplace=True)
df_acoes.iloc[:,1:] = df_acoes.iloc[:, 1:].apply(lambda x: x.apply(str_to_float))
df_acoes.head()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,AALR3,22.59,0.00,-19.70,2.33,1.04,30.55,-0.34,-12.41,-712.60,...,0.45,0.54,0.42,3.62,0.00,1.058238e+07,9.68,-1.15,0.04,2.668686e+09
1,ABCB4,16.92,8.26,4.78,0.73,0.07,35.76,27.56,19.63,3.40,...,0.09,0.91,0.07,13.58,13.36,1.681098e+07,23.02,3.54,0.12,3.823184e+09
2,ABEV3,14.84,5.14,16.14,2.80,1.69,49.29,22.15,18.14,13.22,...,0.60,0.40,0.58,10.72,14.74,4.667347e+08,5.29,0.92,1.14,2.334182e+11
3,ADHM3,1.56,0.00,-4.09,-1.29,105.12,100.00,-13548.48,-18860.61,-5.69,...,-81.72,82.72,0.14,0.00,0.00,0.000000e+00,-1.21,-0.38,-0.58,2.543977e+07
4,AERI3,1.20,0.00,-9.92,1.04,0.24,11.93,8.65,-3.76,4.31,...,0.23,0.77,0.65,0.00,0.00,8.531498e+06,1.15,-0.12,0.04,9.194561e+08

In [125]:
# Base de dados de F11
df_f11.fillna(0, inplace=True)
df_f11.iloc[:,1:] = df_f11.iloc[:, 1:].apply(lambda x: x.apply(str_to_float))
df_f11.head()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,AALR3,22.59,0.00,-19.70,2.33,1.04,30.55,-0.34,-12.41,-712.60,...,0.45,0.54,0.42,3.62,0.00,1.058238e+07,9.68,-1.15,0.04,2.668686e+09
1,ABCB4,16.92,8.26,4.78,0.73,0.07,35.76,27.56,19.63,3.40,...,0.09,0.91,0.07,13.58,13.36,1.681098e+07,23.02,3.54,0.12,3.823184e+09
2,ABEV3,14.84,5.14,16.14,2.80,1.69,49.29,22.15,18.14,13.22,...,0.60,0.40,0.58,10.72,14.74,4.667347e+08,5.29,0.92,1.14,2.334182e+11
3,ADHM3,1.56,0.00,-4.09,-1.29,105.12,100.00,-13548.48,-18860.61,-5.69,...,-81.72,82.72,0.14,0.00,0.00,0.000000e+00,-1.21,-0.38,-0.58,2.543977e+07
4,AERI3,1.20,0.00,-9.92,1.04,0.24,11.93,8.65,-3.76,4.31,...,0.23,0.77,0.65,0.00,0.00,8.531498e+06,1.15,-0.12,0.04,9.194561e+08

In [126]:
df_visc.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [127]:
df_visc.fillna(0, inplace=True)
df_visc.iloc[:, -1] = df_visc.iloc[:, -1].apply(lambda x: clean_string_perc(x))
df_visc.iloc[:, -2] = df_visc.iloc[:, -2].apply(lambda x: clean_string_k(x))
df_visc.iloc[:, -2:].head()

    Vol.  Change %
0  22.00      0.48
1  25.94     -0.20
2  25.95     -0.08
3  24.75     -1.23
4  17.15      0.44

In [128]:
df_visc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      22 non-null     object
 1   Price     22 non-null     float64
 2   Open      22 non-null     float64
 3   High      22 non-null     float64
 4   Low       22 non-null     float64
 5   Vol.      22 non-null     float64
 6   Change %  22 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.3+ KB